node_modules
*.log*
.nuxt
.nitro
.cache
.output
.env
dist
.DS_Store

# apps or icon files autogerenated
android/*
ios/*
resources/android/*
resources/ios/*

# exclude icon-foreground.png and icon-background.png
!resources/android/icon-foreground.png
!resources/android/icon-background.png